@page
@model Bds.TechTest.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<form>
    <p>
        <select asp-for="SelectedEngine" asp-items="Model.Engines">
            <option value="">All</option>
        </select>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<main>
    <div class="result-container">
        @foreach (var item in Model.Results)
        {
            <div class="result-item">
                <h2>
                    <a href="@item.Url">@Html.Raw(item.Title)</a>
                </h2>
                <span>@Html.Raw(item.UrlView)</span>
                <p>@Html.Raw(item.Paragraph)</p>
            </div>
        }
    </div>
</main> 

